# Probabilistic E2 cache
# Reference:
# - https://github.com/TAbdiukov/GMod-E2
# - https://github.com/wiremod/wire/blob/master/lua/wire/client/text_editor/wire_expression2_editor.lua
*2/_autosave_.txt
*2/_shutdown_.txt
*2/_tabs_.txt
*2/_helloworld_.txt
